.box-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 20px;
  flex-wrap: wrap;
}

.box {
  width: 250px; /* Reduzi a largura */
  height: auto; /* Reduzi a altura */
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: white;
  transition: all 0.3s ease-in-out;
}

.box:hover {
  transform: scale(1.05);
}

.box img {
  width: 100%;
  height: 250px; /* Ajustei para manter espaço para o título */
  object-fit: contain;
  background-color: #f8f8f8;
}



 