  .conteiner {
	padding: 20px;
  }
  .destaque {
	background-color: #c4c4c4;
	padding: 20px;
	margin-top: 20px;
  }
  .animes {
	background-color: #e4e4e4;
	padding: 15px;
  }

  .palavras-de-cima{
	list-style: none;
	margin: 0; 
	padding: 0;
	display: flex; 
	justify-content: center;
	gap: 20px; 
	color: rgb(255, 255, 255);
  }
  .button{
	background-color: transparent;
	border: 1px solid black;
	color: black;
	padding: 10px 20px;
	cursor: pointer
  }

  .banner {
    height: 150px;
	width: auto;
	background-image: url(https://wallpapercave.com/wp/wp8935181.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding: 150px 0px;
	background-position: center center;
}

