<div class="barra-fixa-logo">
    <div class="logo">
        <img src="https://www.coolgenerator.com/Data/Textdesign/202305/27c6f10dd14f35819b049541a2dee79f.png" alt="Logo">
    </div>
    <div style="display: flex; justify-content: center; gap: 20px;">
        <div style="background-color: transparent;; padding: 10px 20px; cursor: pointer; text-align: center;">
            <a (click)="destaque()"  style="text-decoration: none; color: black;">Destaque</a>
        </div>
        <div style="background-color: transparent; ; padding: 10px 20px; cursor: pointer; text-align: center;">
            <a (click)="anime()" style="text-decoration: none; color: black;">Animes</a>
        </div>
    </div>
</div>