.barra-fixa-logo, .barra-fixa-logo-final {
	background-color:white;
	color: white;
	padding: 10px;
	text-align: center;
  }
 
.b{
	display: flex;
	justify-content: center;
	gap: 20px;
}

.a{ 
	background-color: transparent;
	padding: 10px 20px;
	cursor: pointer; 
	text-align: center;
}
		  
.letras-b {
	text-decoration: none;
	color: black;
}
	 
