<div class="barra-fixa-logo">
    <div class="logo">
        <img src="https://www.coolgenerator.com/Data/Textdesign/202305/27c6f10dd14f35819b049541a2dee79f.png" alt="Logo">
    </div>
    <div class="b">
        <div class="a">
            <div class="letras-b">
                <a (click)="destaque()">Destaque</a>
            </div>
        </div>   
        <div class="a">
            <div class="letras-b">
                <a (click)="anime()">Animes</a>
            </div>
        </div>
    </div>
</div>